.container {
  display: flex;
  justify-content: center;
  align-content: center;

  width: 100%;
  justify-content: space-around;
  text-align: center;
}
body {
  background-image: url(asset/imag/wallpaperflare.com_wallpaper\ \(7\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.h1 {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}

h1 {
  font-size: 40px;
  color: #ffffff;
  
 }

#todo-input {
  padding: 10px;
  border-radius: 10px;
}

#add-button {
  padding: 10px;
  border-radius: 10px;
  margin-left: 30px;
  color:#ffffff ;

  background-color: #C4CEAB;
  /*   */
}
#add-button:hover {
  color: black;
  background-color: #ffffff;

  transition: all 0.2s linear;
  margin-left: 10px;
}
.todo {
  height: 180px;
  width: 400px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #364554;

  text-align: center;
  border-radius: 15px;
  margin-top: 50px;
  border-bottom: 5px solid #983A01;
}

#todo-list li {
  font-size: 20px;
  list-style: none;

  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;

  border-bottom: 1px solid silver;
}
.btncom,
.btndel {
  padding: 5px;
  margin-bottom: 2px;
  border-radius: 2px;
  color: white;
  background-color: #364554;
  font-weight: bold;
}
ul {
  border-radius: 15px;
  background-color: #ffffff;

  width: 366px;
  margin-left: 5px;

  text-align: center;
}
.todo-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
